
<!-- Header -->
<app-header></app-header>
<!-- Close Header -->

<!-- Open Content -->
<section *ngIf="product" class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-5 mt-5">
          <div class="card mb-3">
            <img
              class="card-img img-fluid"
              [src]="product.images[0]"
              alt="{{ product.name }}"
              id="product-detail"
            />
          </div>
          <div class="row">
            <div class="col-1 align-self-center">
              <a href="#multi-item-example" role="button" data-bs-slide="prev">
                <i class="text-dark fas fa-chevron-left"></i>
              </a>
            </div>
            <div
              id="multi-item-example"
              class="col-10 carousel slide carousel-multi-item"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner product-links-wap" role="listbox">
                <div
                  class="carousel-item"
                  *ngFor="let image of product.images.slice(1); let i = index"
                  [class.active]="i === 0"
                >
                  <div class="row">
                    <div class="col-4" *ngFor="let img of product.images.slice(i * 3, (i + 1) * 3)">
                      <a    >
                        <img class="card-img img-fluid" [src]="img" [alt]="product.name" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 align-self-center">
              <a href="#multi-item-example" role="button" data-bs-slide="next">
                <i class="text-dark fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mt-5">
          <div class="card">
            <div class="card-body">
              <h1 class="h2">{{ product.name }}</h1>
              <p class="h3 py-2">${{ product.price.toFixed(2) }}</p>
              <p class="py-2">
                <i class="fa fa-star text-warning" *ngFor="let star of [1, 2, 3, 4]"></i>
                <i class="fa fa-star text-secondary" *ngFor="let empty of [1]"></i>
                <span class="list-inline-item text-dark">
                  Rating {{ product.rating }} | {{ product.comments }} Comments
                </span>
              </p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <h6>Brand:</h6>
                </li>
                <li class="list-inline-item">
                  <p class="text-muted"><strong>{{ product.brand }}</strong></p>
                </li>
              </ul>
              <h6>Description:</h6>
              <p>{{ product.description }}</p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <h6>Available Colors:</h6>
                </li>
                <li class="list-inline-item">
                  <p class="text-muted">
                    <strong>{{ product.availableColors.join(' / ') }}</strong>
                  </p>
                </li>
              </ul>
              <h6>Specifications:</h6>
              <ul class="list-unstyled pb-3">
                <li *ngFor="let spec of product.specifications">{{ spec }}</li>
              </ul>
              <div class="row pb-3">
                <div class="col-auto">
                  <ul class="list-inline pb-3">
                    <li class="list-inline-item">Size:</li>
                    <li class="list-inline-item">
                      <span
                        class="btn btn-success btn-size"
                        *ngFor="let size of product.sizes"
                        (click)="selectSize(size)"
                        [class.active]="selectedSize === size"
                      >
                        {{ size }}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col d-grid">
                  <button class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                </div>
                <div class="col d-grid">
                  <button class="btn btn-success btn-lg" name="submit" value="addtocart">
                    Add To Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  
<!-- Close Content -->



<!-- Start Footer -->
<app-footer></app-footer>
<!-- End Footer -->



 <!-- Start Slider Script -->
 <script src="assets/js/slick.min.js"></script>
 <script>
     $('#carousel-related-product').slick({
         infinite: true,
         arrows: false,
         slidesToShow: 4,
         slidesToScroll: 3,
         dots: true,
         responsive: [{
                 breakpoint: 1024,
                 settings: {
                     slidesToShow: 3,
                     slidesToScroll: 3
                 }
             },
             {
                 breakpoint: 600,
                 settings: {
                     slidesToShow: 2,
                     slidesToScroll: 3
                 }
             },
             {
                 breakpoint: 480,
                 settings: {
                     slidesToShow: 2,
                     slidesToScroll: 3
                 }
             }
         ]
     });
 </script>
 <!-- End Slider Script -->