    <!-- Start Top Nav -->
 
  <!-- Close Top Nav -->


  <!-- Header -->
<app-header></app-header>
<!-- Close Header -->

<!-- Modal -->
<app-modal></app-modal>



<!-- Start Banner Hero -->
<app-hero></app-hero>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<app-categoriesof-the-month></app-categoriesof-the-month>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<app-featured-product></app-featured-product>
<!-- End Featured Product -->


<!-- Start Footer -->
<app-footer></app-footer>